BasedOnStyle: webkit
AlignTrailingComments: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
#AlignConsecutiveMacros: AcrossComments
AlignConsecutiveMacros: true
AlignEscapedNewlines: Right
AlignTrailingComments: true
#SpacesInLineCommentPrefix:
#  Minimum: 1
#  Maximum: -1
PointerAlignment: Left
#ReferenceAlignment: Right
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
#SpaceBeforeCaseColon: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: true
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInConditionalStatement: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
TabWidth: 4
UseTab: ForIndentation
SortIncludes: false
NamespaceIndentation: None
FixNamespaceComments: true
