name: clang-format check

on: [push, pull_request]

jobs:
  formatting-check:
    if: false
    name: Formatting Check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        path:
          - 'Source'
          - 'test'
    steps:
    - uses: actions/checkout@v6

    - name: Run clang-format style check for C/C++ programs.
      uses: pionere/clang-format-action@v1
      continue-on-error: true
      with:
        clang-format-version: '11'
        check-path: ${{ matrix.path }}
        exclude-regex: 'platform'
        fallback-style: 'webkit'
