name: CMake

# When creating a new workflow in GitHub’s action builder the default trigger is the push event. We want to extend this to push and pull request events.
on: [push, pull_request]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkitarm:latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install dependencies
      run: |
        apt-get update && \
        apt-get install -y --no-install-recommends --no-install-suggests \
          ffmpeg \
          gettext

    - name: Get external dependencies
      run: |
        wget https://github.com/diasurgical/bannertool/releases/download/1.2.0/bannertool.zip
        unzip -j "bannertool.zip" "linux-x86_64/bannertool" -d "/opt/devkitpro/tools/bin"
        wget https://github.com/3DSGuy/Project_CTR/releases/download/makerom-v0.18/makerom-v0.18-ubuntu_x86_64.zip
        unzip "makerom-v0.18-ubuntu_x86_64.zip" "makerom" -d "/opt/devkitpro/tools/bin"
        chmod a+x /opt/devkitpro/tools/bin/makerom

    - name: Configure CMake
      run: |
        cmake -S. -Bbuild -GNinja \
          -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DNINTENDO_3DS=ON -DNONET=ON -DUSE_PATCH=ON \
          -DCMAKE_TOOLCHAIN_FILE=/opt/devkitpro/cmake/3DS.cmake

    - name: Build DevilutionX
      run: cmake --build build -j$(nproc)

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: devilutionx-3ds.3dsx
        path: |
          ./build/devilutionx.3dsx

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: devilutionx-3ds.cia
        path: |
          ./build/devilutionx.cia

  build_net:
    runs-on: ubuntu-latest
    container: devkitpro/devkitarm:latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install dependencies
      run: |
        apt-get update && \
        apt-get install -y --no-install-recommends --no-install-suggests \
          ffmpeg \
          gettext

    - name: Get external dependencies
      run: |
        wget https://github.com/diasurgical/bannertool/releases/download/1.2.0/bannertool.zip
        unzip -j "bannertool.zip" "linux-x86_64/bannertool" -d "/opt/devkitpro/tools/bin"
        wget https://github.com/3DSGuy/Project_CTR/releases/download/makerom-v0.18/makerom-v0.18-ubuntu_x86_64.zip
        unzip "makerom-v0.18-ubuntu_x86_64.zip" "makerom" -d "/opt/devkitpro/tools/bin"
        chmod a+x /opt/devkitpro/tools/bin/makerom

    - name: Configure CMake
      run: |
        cmake -S. -Bbuild -GNinja \
          -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DNINTENDO_3DS=ON -DZEROTIER=OFF \
          -DCMAKE_TOOLCHAIN_FILE=/opt/devkitpro/cmake/3DS.cmake

    - name: Build DevilutionX
      run: cmake --build build -j$(nproc)

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: devilutionx-3ds.3dsx
        path: |
          ./build/devilutionx.3dsx

    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: devilutionx-3ds.cia
        path: |
          ./build/devilutionx.cia
